@model ACE.Models.Event

@{
    ViewBag.Title = "Details";
}

<h2>Event Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventTotalPitStops)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventTotalPitStops)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventTotalTeams)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventTotalTeams)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
