@model ACE.ViewModels.EventIndexData

@{ViewBag.Title = "Event List";}

<h2>Event List</h2>
<p>@Html.ActionLink("Create New", "Create")</p>
<table class="table">
    <tr class="success">
        <th>Event Name</th>
        <th>Description</th>
        <th>Country</th>
        <th>City</th>
        <th>Event StartDate</th>
        <th>Event EndDate</th>
        <th>Total PitStops</th>
        <th>Total Teams</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Events)
    {
        string selectedRow = "";
        if (item.EventID == ViewBag.EventID)
        {
            selectedRow = "success";
        }
        <tr class="@selectedRow">
        <td>@Html.DisplayFor(modelItem => item.EventName)</td>
        <td>@Html.DisplayFor(modelItem => item.EventDesc)</td>
        <td>@Html.DisplayFor(modelItem => item.EventCountry)</td>
        <td>@Html.DisplayFor(modelItem => item.EventCity)</td>
        <td>@Html.DisplayFor(modelItem => item.EventStartDate)</td>
        <td>@Html.DisplayFor(modelItem => item.EventEndDate)</td>
        <td>@Html.DisplayFor(modelItem => item.EventTotalPitStops)</td>
        <td>@Html.DisplayFor(modelItem => item.EventTotalTeams)</td>
        <td>
            @Html.ActionLink("Select", "Index", new { id = item.EventID }) |
            @Html.ActionLink("Edit", "Edit", new { id=item.EventID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventID })
        </td>
    </tr>
    }
</table>

@if (Model.Teams != null)
{
    <h3>Teams Enrolled</h3>
    <table class="table">
        <tr>
            <th>Team Name</th>
       </tr>
       @foreach (var item in Model.Teams)
       {
            string selectedRow = "";
            if (item.TeamID == ViewBag.TeamID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                    <td>@Html.ActionLink("Select", "Index", new { teamID = item.TeamID })</td>
                    <td>@item.TeamName</td>
            </tr>
       }
    </table>
}

@if (Model.Members != null)
{
    <h3>Members Enrolled</h3>
    <table class="table">
        <tr>
            <th>Member Name</th>
            <th>Contact No</th>
            <th>Email</th>
            <th>Member Photo</th>
        </tr>
        @foreach (var item in Model.Members)
        {
            string selectedRow = "";
            if (item.MemberID == ViewBag.MemberID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>@item.MemberName</td>
                <td>@item.MemberContact</td>
                <td>@item.MemberEmail</td>
                <td>@{
                    var base64 = Convert.ToBase64String(item.MemberPhoto);
                    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                }
                <img src="@imgsrc" width="50" height="50"></td>
            </tr>
        }
    </table>
}

@if (Model.PitStops != null)
 {
    <h3>Pit Stops</h3>
    <table class="table">
        <tr>
            <th>Pit Stop No</th>
            <th>Pit Stop Name</th>
            <th>Pit Stop Location</th>
        </tr>
        @foreach (var item in Model.PitStops)
        {
            string selectedRow = "";
            if (item.PitStopID == ViewBag.PitStopID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>@item.PitStopOrder</td>
                <td>@item.PitStopName</td>
                <td>@item.PitStopLocation</td>
            </tr>
        }
    </table>
}
