@model IEnumerable<ACE.Models.PitStop>

@{ViewBag.Title = "Index";}

<h2>Index</h2>
<p>@Html.ActionLink("Create New", "Create")</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Event.EventName)</th>
        <th>@Html.DisplayNameFor(model => model.Staff.StaffCode)</th>
        <th>@Html.DisplayNameFor(model => model.PitStopName)</th>
        <th>@Html.DisplayNameFor(model => model.PitStopOrder)</th>
        <th>@Html.DisplayNameFor(model => model.PitStopLocation)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Event.EventName)</td>
            <td>@Html.DisplayFor(modelItem => item.Staff.StaffCode)</td>
            <td>@Html.DisplayFor(modelItem => item.PitStopName)</td>
            <td>@Html.DisplayFor(modelItem => item.PitStopOrder)</td>
            <td>@Html.DisplayFor(modelItem => item.PitStopLocation)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.PitStopID }) |
                @Html.ActionLink("Details", "Details", new { id=item.PitStopID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.PitStopID })
            </td>
        </tr>
    }
</table>


