@model IEnumerable<ACE.Models.Member>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Team.TeamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberContact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberPhoto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Team.TeamName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemberName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemberContact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemberEmail)
        </td>
        <td>
             @{ 
                var base64 = Convert.ToBase64String(item.MemberPhoto);
                var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
            }
            <img src="@imgsrc" width="50" height="50" >
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MemberID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MemberID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MemberID })
        </td>
    </tr>
}

</table>
